flows.json
[{"id":"3db5d9f1.1880f6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"782be73e.d4d308","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"282ff80a.6a6368","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"c76adab5.d4cf18","type":"ui_group","z":"","name":"Default","tab":"282ff80a.6a6368","order":1,"disp":true,"width":"6","collapse":false},{"id":"79862e5e.bf853","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"8148ae1a.398b1","type":"ui_link","name":"Link 2","icon":"open_in_browser","target":"newtab","order":2},{"id":"c2f53e5b.fadd2","type":"ui_tab","name":"Tab 3","icon":"dashboard","order":3},{"id":"b99c86ee.729d78","type":"ui_link","z":"782be73e.d4d308","name":"Link 4","link":"www.google.com","icon":"open_in_browser","target":"newtab","order":5},{"id":"28f229b5.a6edd6","type":"ui_link","name":"Link 5","icon":"open_in_browser","target":"newtab","order":4},{"id":"20b507fa.a81a68","type":"ui_link","name":"Link 6","icon":"open_in_browser","target":"newtab","order":6},{"id":"4e13448d.5aca8c","type":"ui_link","name":"Link 7","icon":"open_in_browser","target":"newtab","order":7},{"id":"2f24d883.d63488","type":"ui_link","name":"Link 8","icon":"open_in_browser","target":"newtab","order":8},{"id":"b1b11140.4e4ef","type":"inject","z":"3db5d9f1.1880f6","name":"","topic":"","payload":"Hello Node-RED!","payloadType":"string","repeat":"","crontab":"","once":false,"x":141,"y":61,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"3db5d9f1.1880f6","name":"","active":true,"console":"false","complete":"false","x":401,"y":87,"wires":[]},{"id":"8b871bb5.e4ae08","type":"ui_form","z":"3db5d9f1.1880f6","name":"","label":"","order":0,"width":0,"height":0,"options":[{"value":"","label":"","type":"","required":true}],"formValue":{},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":180,"y":240,"wires":[[]]},{"id":"b82acc97.5468d","type":"ui_form","z":"782be73e.d4d308","name":"","label":"","group":"c76adab5.d4cf18","order":1,"width":0,"height":0,"options":[{"label":"Year","value":"a","type":"number","required":true,"rows":null},{"label":"Adult Mortality","value":"b","type":"number","required":true,"rows":null},{"label":"infant deaths","value":"c","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"d","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"e","type":"number","required":true,"rows":null},{"label":"Hepatitis B","value":"f","type":"number","required":true,"rows":null},{"label":"Measles ","value":"g","type":"number","required":true,"rows":null},{"label":"BMI","value":"h","type":"number","required":true,"rows":null},{"label":"under-five deaths","value":"i","type":"number","required":true,"rows":null},{"label":"Polio","value":"j","type":"number","required":true,"rows":null},{"label":"Total expenditure","value":"k","type":"number","required":true,"rows":null},{"label":"Diphtheria","value":"l","type":"number","required":true,"rows":null},{"label":"HIV/AIDS","value":"m","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"n","type":"number","required":true,"rows":null},{"label":"thinness 5-9 years","value":"o","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"p","type":"number","required":true,"rows":null},{"label":"Schooling","value":"q","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":"","f":"","g":"","h":"","i":"","j":"","k":"","l":"","m":"","n":"","o":"","p":"","q":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":380,"wires":[["deda2a0d.afc568"]]},{"id":"deda2a0d.afc568","type":"function","z":"782be73e.d4d308","name":"pre token","func":"global.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\nglobal.set(\"f\",msg.payload.f);\nglobal.set(\"g\",msg.payload.g);\nglobal.set(\"h\",msg.payload.h);\nglobal.set(\"i\",msg.payload.i);\nglobal.set(\"j\",msg.payload.j);\nglobal.set(\"k\",msg.payload.k);\nglobal.set(\"l\",msg.payload.l);\nglobal.set(\"m\",msg.payload.m);\nglobal.set(\"n\",msg.payload.n);\nglobal.set(\"o\",msg.payload.o);\nglobal.set(\"p\",msg.payload.p);\nglobal.set(\"q\",msg.payload.q);\n\nvar apikey= \"FF8kWUxTIaGwVngDuRW4L3MErtNwrN8V6VfKjvEFcumJ\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":220,"wires":[["89221cb7.fdaf3"]]},{"id":"89221cb7.fdaf3","type":"http request","z":"782be73e.d4d308","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":270,"y":100,"wires":[["886eda1b.66f7e8"]]},{"id":"886eda1b.66f7e8","type":"function","z":"782be73e.d4d308","name":"","func":"var token=msg.payload.access_token;\nvar instance_id=\"69930602-b374-45a8-8527-721d2b71fe73\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer\" + token,\"ML-Instance-ID\":instance_id}\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\nvar f = global.get(\"f\");\nvar g = global.get(\"g\");\nvar h = global.get(\"h\");\nvar i = global.get(\"i\");\nvar j = global.get(\"j\");\nvar k = global.get(\"k\");\nvar l = global.get(\"l\");\nvar m = global.get(\"m\");\nvar n = global.get(\"n\");\nvar o = global.get(\"o\");\nvar p = global.get(\"p\");\nvar q = global.get(\"q\");\n\nmsg.payload={\"fields\":[\"Year\", \"Adult Mortality\",\n       \"infant deaths\", \"Alcohol\", \"percentage expenditure\", \"Hepatitis B\",\n       \"Measles \", \" BMI \", \"under-five deaths \", \"Polio\", \"Total expenditure\",\n       \"Diphtheria \", \" HIV/AIDS\",\" thinness  1-19 years\", \" thinness 5-9 years\",\n       \"Income composition of resources\", \"Schooling\"],\n       \"values\":[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q]]};\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":300,"wires":[["3cdf9d90.9e8e42"]]},{"id":"3cdf9d90.9e8e42","type":"http request","z":"782be73e.d4d308","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/69930602-b374-45a8-8527-721d2b71fe73/deployments/42747e70-1630-4607-b71f-40b9c96f178c/online","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":440,"wires":[["4ad26ff4.04018","73cf5079.24fe6"]]},{"id":"73cf5079.24fe6","type":"function","z":"782be73e.d4d308","name":"","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":140,"wires":[["bff1214c.95c66","ec73c07b.fd185"]]},{"id":"bff1214c.95c66","type":"debug","z":"782be73e.d4d308","name":"","active":true,"console":"false","complete":"false","x":830,"y":20,"wires":[]},{"id":"4ad26ff4.04018","type":"debug","z":"782be73e.d4d308","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":850,"y":440,"wires":[]},{"id":"ec73c07b.fd185","type":"ui_text","z":"782be73e.d4d308","group":"c76adab5.d4cf18","order":2,"width":0,"height":0,"name":"","label":"Life-Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":260,"wires":[]}]